@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.firegram{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
.file-input{
  visibility: hidden;
}
label{
    position: relative;
    left: calc(50% - 2rem);
}
label span{
  position: absolute;
  top: 0;
  left: 1rem;
  background: var(--primary);
  padding: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.image-grid {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(3,minmax(min-content,1fr));
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.image-wrap{
  width: 100%;
  height: 100%;
}

.image-grid img{
  opacity: 0.6;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.image-grid img:hover{
  opacity: 1
}

/* modal styles */
.backdrop{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 5;
}

.modal-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    z-index: 10;
    margin: 3rem auto;
}
.modal-img{
  max-height: 80%;
  box-shadow: 0.3rem 0.5rem 0.7rem rgba(0,0,0,0.3);
  border: 3px solid #fff;
}